%section.hero
  %div.hero-body
    %div.container
      %h1.title About Checkr

%section.section
  %div.container
    %div.content
      %p
        Checkr was created by
        %a{href: 'https://www.gregbrisebois.com'} Greg Brisebois
        for CS174.
      %p
        Try these example files for testing
        %ul
          %li
            = link_to 'wannacry.txt', '/examples/wannacry.txt', target: '_blank'
            (Not a real virus)
          %li
            = link_to 'infected.txt', '/examples/infected.txt', target: '_blank'
            (Not really infected)
          %li= link_to 'safe.txt', '/examples/safe.txt', target: '_blank'
      %p
        This application does not actually provide any security
        and should not be used in any real sense.
      %p
        This site is known to the State of California to cause
        birth defects and cancer.