%section.hero
  %div.hero-body
    %div.container
      %h1.title About Checkr

%section.section
  %div.container
    %div.content
      %p
        Checkr was created by
        %a{href: 'https://www.gregbrisebois.com'} Greg Brisebois
        for CS174.