%section.hero.is-primary.is-bold.is-fullheight-with-navbar
  %div.hero-body
    %div.container.has-text-centered
      %h1.title World-class malware detection
      %h2.subtitle Get peace of mind with Checkr.
      = link_to 'Sign up today!', signup_path, { class: 'button is-medium is-link' }

%section.section
  %div.container.has-text-centered
    %p.subtitle Checkr works by comparing your files to a vast database of known malware.
    %p.subtitle Just upload any files you're suspicious of!


%section.section
  %div.container.has-text-centered
    %h1.title Convinced?
    = link_to 'Sign up today!', signup_path, { class: 'button is-large is-link' }
    %p.subtitle (It's free!)